.search-box {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border: 1.5px solid #292929;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  gap: 0.8rem;
  margin-left: 40rem;
  margin-right: 40rem;
  flex-grow: 1;

  .search-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
  }
}
